.card-body {
    height: 200px; /* adjust */
    background-color: #28282B;
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem; /* adjust */
    letter-spacing: 1px; /* optional */
}

.btn-primary {
    background-color: #00FFFF !important;
    color: #000000 !important;
    border-color: #00FFFF !important;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFF00;
    /* font-family: 'Anton', sans-serif; */
    letter-spacing: 1px;
}

body {
    background-image: url("../img/hexagon_006.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: #00FFFF; /* cyan */
}

a:hover {
    color: #FFFF00; /* yellow */
}

.temp-650 {
    min-height: 750px;
}

.project-row{
    border: 1px solid #00FFFF;
    border-radius: 6px;
}