.carousel-img {
    height: 400px; /* or any size you want */
    width: 100%;
    object-fit: cover; /* crop instead of stretch */
    object-position: center; /* center the picture */
}

.card-body {
    height: 200px; /* adjust */
    background-color: #28282B;
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem; /* adjust */
    letter-spacing: 1px; /* optional */
}

.btn-primary {
    background-color: #00FFFF !important; /* yellow */
    color: #000000 !important; /* black text */
    border-color: #00FFFF !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFF00;
}

body {
    background-image: url("../img/hexagon_006.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: #00FFFF; /* cyan */
}

a:hover {
    color: #FFFF00; /* yellow */
}

.temp-650 {
    min-height: 650px;
}
