<!-- colors #3368A0 #66A3BF #C8DFDB #F2EFE7 -->
<!-- colors #00FFFF #000000 #FFFF00 #FFFFFF -->


:root {
  --color-cyan: #00FFFF;
  --color-black: #000000;
  --color-yellow: #FFFF00;
  --color-white: #FFFFFF;
  --color-gray1: #D3D3D3;
  --color-gray2: #A9A9A9;